{% capture navigationHTML %}
<a class="hamburgerfons">☰</a>
<div class="navitems">
    <div class="navtitle">
        <a class="menutitle" href="{{ site.baseurl }}/">{{ site.name }}</a>
    </div>
    {% if page.layout != 'post' %}
        {% comment %} DOCUMENTATION PAGES {% endcomment %}
        {% if page.generatedPage %}
            {% tree "/documentation" %}
        {% elsif page.url == "/documentation/" %}
            {% tree "/documentation" levels=1 %}
        {% elsif page.collection %}
            {% tree "/documentation" %}
        {% comment %} ROOT-LEVEL PAGES {% endcomment %}
        {% else %}
            {% assign pagesCount = site.pages | size %}
            {% if pagesCount != 0 %}
                <ul>
                {% assign pages = site.pages | sort: 'menuOrder' %}
                {% for item in pages %}
                    {% if item.title and item.excludeNavigation != true %}
                        <li><a {% if item.path == page.path %}class="current"{% endif %} href="{% if item.externalURL %}{{ item.externalURL }}{% else %}{{ site.baseurl }}{{ item.url }}{% endif %}">{{ item.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    {% endif %}
    {% comment %} POSTS (deprecated??) {% endcomment %}
    {% if page.layout == 'post' %}
        {% assign postsCount = site.posts | size %}
        {% if postsCount != 0 %}
            <ul>
            {% for item in site.posts %}
                {% if item.title %}
                    <li><a {% if item.path == page.path %}class="current"{% endif %} href="{% if item.externalURL %}{{ item.externalURL }}{% else %}{{ site.baseurl }}{{ item.url }}{% endif %}">{{ item.title }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% comment %} TAGS {% endcomment %}
<div class="navtitle">
    <a class="menutitle" href="{{ site.baseurl }}/tags">Tags</a>
</div>
</div>
{% endcapture %}{{ navigationHTML | strip_newlines | replace:"    ", "" }}